body
{
    margin: 0px;
}
#contentDiv
{
    width: 100%;
    height: 3000px;
}
#mathDiv,#facePartDiv,#wordDiv,#quizDiv,#colorDiv,#pianoDiv
{
    width: 100%;
    height: 490px;
}
#wordImg,#facePartImg,#colorImg
{
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    width: 40%;
    height: 400px;
    border-radius: 20%;
    box-shadow: 20px 20px 20px gray, -10px -5px 8px rgb(102, 167, 216);
    cursor: pointer;
    opacity: 1;
    transition: opacity 3s ;
}
#mathImg,#quizImg,#pianoImg
{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    width: 40%;
    height: 400px;
    border-radius: 20%;
    box-shadow: 20px 20px 20px gray, -10px -5px 8px rgb(102, 167, 216);
    cursor: pointer;
    opacity: 1;
    transition: opacity 3s ;
}
#quizImg:hover,#facePartImg:hover,#mathImg:hover,#wordImg:hover,#colorImg:hover,#pianoImg:hover
{
    opacity: .6;
}
#facePartDiscribe,#wordDiscribe,#colorDiscribe
{
    color: rgb(244, 150, 166);
    float: left;
    margin-left: 10%;
    font-size: 30px;
}

#quizParagraph,#mathParagraph,#pianoParagraph
{
    float: right;
    margin-right: 16%;
    margin-top: 10%;
    font-weight: bold;
    font-size: 50px;
    color: rgb(28, 28, 93);
    text-shadow: 10px 5px 5px gray;
}
#pianoParagraph{ margin-right: 10%;}

#wordParagraph,#facePartParagraph,#colorParagraph
{
    float: left;
    margin-left: 10%;
    margin-top: 11%;
    font-weight: bold;
    font-size: 50px;
    color: rgb(28, 28, 93);
    text-shadow: 10px 5px 5px gray;
}
#mathDiscribe,#quizDiscribe,#pianoDiscribe
{
    color: rgb(244, 150, 166);
    float: right;
    margin-right: 5%;
    font-size: 30px;
}
#float
{
    clear: both;
}