body
{
    margin: 0px;
}
#SumProcessDiv,#SubProcessDiv,#MultiProcessDiv,#DividProcessDiv
{
    font-family: 'Luckiest Guy', cursive;
}
#navDiv
{
    width: 100%;
    height: 70px;
    /*padding-left: 13%;*/
    background-color: rgb(244, 150, 166);
}

#backDiv
{
    width: 100px;
    height: 60px;
    float: left;
    margin-left: 7%;
    margin-top: 15px;
}
#backbtn
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
}
#backbtn:hover
{
    background-color: white;
    color: rgb(244, 150, 166);
}
#MATH_4_KIDS
{
   /* width: 30%;*/
    float: right;
    margin-right: 10%;
    margin-top: 7px;
    color: white;
    font-size:2rem;
    padding-left: 30%;
   
}
#sectionDiv
{
   background-color: white;
   width: 100%;
   height: 680px;
}
#processDiv
{
    margin-top: 20px;
    background-color: rgb(135, 226, 226);
    width:75%;
    height: 625px;
    margin-left: 30px;
    float: left;
    font-size:4rem;
    border-radius: 30%;
    
}
#num1
{
    color: rgb(244, 150, 166);
    
    float: left;
    margin-left: 28%;
    margin-top: 15%;

}
#operatorPlus
{
    color: white;
    float: left;
    margin-top: 15%;
    margin-left: 30px;
}
#num2
{
    color: rgb(244, 150, 166);
    float: left;
    margin-top: 15%;
    margin-left: 30px;

}
#operatorEqual{
    color: white;
    float: left;
    margin-top: 15%;
    margin-left: 30px;
}
#questionMark
{
    color: rgb(244, 150, 166);
    float: left;
    margin-top: 15%;
    margin-left: 30px;
}
#floatDiv
{
    clear: both;
}
#allChoices
{
    margin-top: 20px;
    float: right;
    padding-right: 20px;
    color: white;
    text-align: center;
    width: 280px;
    height: 630px;
    margin-right: 10px;
    font-size:4rem;
    
}
#firstChoice,#secondChoice,#thirdChoice
{
    background-color:rgb(244, 150, 166);
    width: 280px;
    height: 160px;
    padding-top: 15%;
    margin-bottom: 10px;
    transition: 1s;
    border-radius: 30%;
    
}
#firstChoice:hover,#secondChoice:hover,#thirdChoice:hover{
    /*background-color: white;
    color:rgb(244, 150, 166);*/
    transform: scale(.5,.5);
    transition: 5s;
}/*
#secondChoice
{
    background-color: rgb(135, 226, 226);
    width: 280px;
    height: 160px;
    padding-top: 15%;
    margin-bottom: 10px;
}
#secondChoice:hover{
    background-color: white;
    color:rgb(135, 226, 226);
}
#thirdChoice
{
    background-color: rgb(244, 150, 166);
    width: 280px;
    height: 160px;
    padding-top: 15%;
    margin-bottom: 10px;
}
#thirdChoice:hover{
    background-color: white;
    color: rgb(244, 150, 166);
}*/